<%- include('../snippets/header') %>

  <div class="myList">
      <table>
          <thead>
            <h2>My lists</h2>
          </thead>
          <tbody>
            <% if(user) { %>
              <% list.forEach(function(l){ %>
                <tr> 
                  <td><a href="/list/<%= l._id %>" style="color:red"><%= l.name %></a></td>
                  <td>
                    <form action="/list/<%= l.id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                  </td>
                </tr>
              <% }) %>
                <tr class="addList">
                  <a href='/list/new' style="color:red">+</a> 
                </tr>
            <% } %>  
          </tbody>
      </table>
  </div>

<%- include('../snippets/footer') %>
