<%- include('../snippets/header') %>

 
    <form id="new-part" action="/list/<%= list._id %>/parts" method="POST" >
      <input type="text" name="name" placeholder="Name of Part" class="partForm">
      <input type="text" name="url" placeholder="Url of part" class="partForm">
      <input type="number" name="price" placeholder="Price of part" class="partForm">
      <input type="submit" value="Add Part">
    </form>
  

  <div class="myParts">
      <table class="col-table">
          <thead>
            <h2>Current Parts</h2>
          </thead>
          <tbody>
            <% if(user) { %>
              <% if(list.parts.length) { %> 
                  <tr>
                    <th>URL</th>
                    <th>Name</th>
                    <th>Price</th>
                  </tr>
                <% list.parts.forEach(function(p){ %>
                  <tr> 
                    <td><%= p.url %></td>
                    <td><%= p.name %></td>
                    <td>$<%= p.price %></td>
                    <td><form action="/list/<%= p.id %>/parts?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                    </td>
                  </tr>
                <% }); %>
                <% } %>
              <%  }; %>
          </tbody>
      </table>
  </div>

  <%- include('../snippets/footer') %>

        
</body>
</html>



